#navbar{
	position: fixed;
	top: 0;
	right: 0;
	font-family: arial, sans-serif;
	
}

#logo{
	margin: 0 auto;
	background-image: url('https://www.google.ca/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png');
	background-size: 272px 92px;
	width: 272px;
	height: 92px;	
}

#search-bar{
	margin: 0 auto;
}

#search-buttons{
	margin: 0 auto;
}

.navlink{
	text-decoration: line-through;
}
